.about-page {
    width: 100%;
    max-width: 1100px; 
    padding-left: 250px;
    text-align: justify;
    color: black;
}

h1{
    color: brown;
}

/* 
h1{
    margin-top: -250px;
    padding-left: 1px;
} */