.sidebar {
    position: fixed;
    top: 0;
    left:0;
    bottom: 100%;
    width: 20%;
    margin-top: 2px;

  }
  h2{
    color: white;
  }
  
  .s1 {
    list-style-type: none;
    text-align: left;
    background-color: #333;
    color: white;
  }
  
  .s21{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .s21:hover {
    background-color: #292929;
    color: white;
  }
  
  
  